@model HospiEnCasa02Entity.Entity.SugerenciasCuidadoEntity

@{
    ViewData["Title"] = "CreateSugernciaCuidado";
}

<h1>CreateSugernciaCuidado</h1>

<h4>SugerenciasCuidadoEntity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateSugernciaCuidado">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdSignosVitales" class="control-label"></label>
                <input asp-for="IdSignosVitales" class="form-control" />
                <span asp-validation-for="IdSignosVitales" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaHora" class="control-label"></label>
                <input asp-for="FechaHora" class="form-control" />
                <span asp-validation-for="FechaHora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diagnostico" class="control-label"></label>
                <input asp-for="Diagnostico" class="form-control" />
                <span asp-validation-for="Diagnostico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
