@model HospiEnCasa02Entity.Entity.PacienteEntity

@{
    ViewData["Title"] = "CreatePaciente";
}

<h1>CreatePaciente</h1>

<h4>PacienteEntity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreatePaciente">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCasaPaciente" class="control-label"></label>
                <input asp-for="IdCasaPaciente" class="form-control" />
                <span asp-validation-for="IdCasaPaciente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdFamiliarDesignado" class="control-label"></label>
                <input asp-for="IdFamiliarDesignado" class="form-control" />
                <span asp-validation-for="IdFamiliarDesignado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdEnfermera" class="control-label"></label>
                <input asp-for="IdEnfermera" class="form-control" />
                <span asp-validation-for="IdEnfermera" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdMedico" class="control-label"></label>
                <input asp-for="IdMedico" class="form-control" />
                <span asp-validation-for="IdMedico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdSignosVitales" class="control-label"></label>
                <input asp-for="IdSignosVitales" class="form-control" />
                <span asp-validation-for="IdSignosVitales" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdPersona" class="control-label"></label>
                <input asp-for="IdPersona" class="form-control" />
                <span asp-validation-for="IdPersona" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
